<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/estilo.css">
    <title>Document</title>
</head>
<body>
    <header>
        <center>
            <h1>Tienda de mascota diegito time</h1>
        </center>
    </header>
    <nav>
        <ul>
            <li><a href="/">Pricipal</a></li>
            <li><a href="/gato">Gatos</a></li>
            <li><a href="/perro">Perros</a></li>
            <li><a href="/tabla">comentar</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>